<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
        <p>Column #1</p>
      </div>
      <div class="col-lg-1">
        <p>Column #2</p>
      </div>
      <div class="col-lg-1">
        <p>Column #3</p>
      </div>
      <!-- ... columns 4 through 11 ... -->
      <div class="col-lg-1">
        <p>Column #12</p>
      </div>
    </div>
  </div>
</body>
